<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Uma troca de senha para sua conta foi solicitada</p>
  <p>Clique no link abaixo para alterar sua senha</p>
  <p><a href={{link}}>Alterar senha</a></p>
  <p>Se você não solicitou essa mudança, ignore esse email</p>
  <p>
    Obrigado! <br>
    <strong>Equipe CAP</strong>
  </p>
</div>
